policies:
  - name: {{name}}-availability
    resource: {{resource}}
    filters:
      - type: metric
        metric: {{metric}}
        op: lt  
        aggregation: average
        threshold: {{threshold}}
        timeframe: {{timeframe}}
        interval: {{interval}}
      {% if name == 'cosmosdb' %}
      - type: metric
        metric: TotalRequests
        op: gt
        aggregation: total
        threshold: 0
        timeframe: {{timeframe}}
        interval: {{interval}}
      {% endif %}
      - type: value
        key: resourceGroup
        op: eq
        value: {{resourceGroup}}