policies:
  - name: {{name}}-high-cpu 
    resource: {{resource}}
    subscription: {{subscriptionId}}
    filters:
      - type: metric
        metric: {{metric}}
        op: gt
        aggregation: average
        threshold: {{threshold}}
        timeframe: {{timeframe}}
        interval: {{interval}}
      - type: value
        key: resourceGroup
        op: eq
        value: {{resourceGroup}}