policies:
  - name: mysqlfx-high-memory
    resource: azure.mysql-flexibleserver
    filters:
      - type: metric
        metric: "memory_percent"
        op: gt
        aggregation: average
        threshold: {{threshold}}
        timeframe: {{timeframe}}
      - type: value
        key: resourceGroup
        op: eq
        value: {{resourceGroup}}