policies:
  - name: mysqlfx-public-access
    resource: azure.mysql-flexibleserver
    filters:
      - type: value
        key: properties.network.publicNetworkAccess
        op: eq
        value: "Enabled"
      - type: value
        key: resourceGroup
        op: eq
        value: {{resourceGroup}}