policies:
  - name: under-utilized-vm-cpu-usage
    resource: azure.vm
    filters:
      - type: metric
        metric: Percentage CPU
        op: le
        aggregation: average
        threshold: {{cpu_percentage}}
        timeframe: {{timeframe}}