policies:
  - name: storage-container-public
    description: |
      Find all containers with public access enabled
    resource: azure.storage-container
    subscription: {{subscriptionId}}
    filters:
      - type: value
        key: properties.publicAccess
        op: in
        value:
          - Container
          - Blob
      - type: value
        key: resourceGroup
        op: eq
        value: {{resourceGroup}}