policies:
  - name: storage-accounts-with-public-access
    resource: azure.storage
    filters:
      - type: value
        key: properties.networkAcls.defaultAction
        value: "Allow"
      - type: value
        key: resourceGroup
        op: eq
        value: {{resourceGroup}}