vars:
  subscription_id: {{ subscription_id if subscription_id else "{{ subscription_id }}" }}

policies:
  - name: unused-disk
    resource: azure.disk
    subscription: {{subscriptionId}}
    filters:
      - and:
        - type: value
          key: managedBy
          value: null
        - type: value
          key: properties.diskState
          value: "Unattached"
      - type: value
        key: resourceGroup
        op: eq
        value: {{resourceGroup|upper}}