policies:
  - name: unused-disk
    resource: azure.disk
    filters:
      - and:
        - type: value
          key: managedBy
          value: null
        - type: value
          key: properties.diskState
          value: "Unattached"
      - type: value
        key: resourceGroup
        op: eq
        value: {{resourceGroup|upper}}