policies:
  - name: stopped-vms
    resource: azure.vm
    filters:
      # 1. List only VMs that are stopped (deallocated)
      - type: instance-view
        key: statuses[].code
        op: in
        value_type: swap
        value: PowerState/deallocated

      # 2. Ensure the VM has had 0% CPU usage since {{timeframe}}
      - type: metric
        metric: Percentage CPU
        op: eq
        aggregation: average
        threshold: 0
        timeframe: {{timeframe}} 
