policies:
  - name: vm-agent-status
    resource: azure.vm
    subscription: {{subscriptionId}}
    filters:
      # Check for VMs where the agent is unavailable (actual problem state)
      - type: instance-view
        key: vmAgent.statuses[0].code
        op: eq
        value: "ProvisioningState/unavailable"
      - type: value
        key: resourceGroup
        op: eq
        value: {{resourceGroup|upper}}