policies:
  - name: vm-cpu-usage
    resource: azure.vm
    filters:
      - type: metric
        metric: Percentage CPU
        op: ge
        aggregation: average
        threshold: {{cpu_percentage}}
        timeframe: {{timeframe}}