policies:
  - name: vm-memory-usage
    resource: azure.vm
    subscription: {{subscriptionId}}
    filters:
      - type: instance-view
        key: statuses[].code
        op: not-in
        value_type: swap
        value: PowerState/deallocated
      - type: instance-view
        key: statuses[].code
        op: not-in
        value_type: swap
        value: ProvisioningState/Unavailable
      - type: metric
        metric: {% if memory_percentage is defined %}Available Memory Percentage{% else %}Available Memory Bytes{% endif %}
        op: {% if op is defined %}{{op}}{% else %}lt{% endif %}
        aggregation: average
        threshold: {% if memory_percentage is defined %}{{memory_percentage}}{% else %}{{memory_threshold}}{% endif %}
        timeframe: {{timeframe}}
      - type: value
        key: resourceGroup
        op: eq
        value: {{resourceGroup|upper}}